#top
	{
		padding: 2m;
		text-align: center;
		font-size: 50px;

	}

nav {
 	width: 200px;
    height: 300px;
    border: 1px solid #c3c3c3;
    background: gray;
    align-content: center;
    float: left;
}

main {

	align-content: right;
	width: 700px;
    height: all;
    border: 1px solid #c3c3c3;
   
    -webkit-align-content: center;
    float: left;
    
}

img {
		width: 400px;
		margin: auto;

}